<!DOCTYPE html>

<html lang="en">
<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  
	  <meta charset="utf-8">
	  <title>Spanglish</title>
	  <meta name="description" content=""/>

	  <!-- Loading Bootstrap -->
	  <link href="flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
	  <link href="css/spanglish.css" rel="stylesheet">
	  <link href="css/landing.css" rel="stylesheet">

	  <!-- Loading Flat UI -->
	  <link href="flat-ui/css/flat-ui.css" rel="stylesheet">
	  <link href="flat-ui/css/demo.css" rel="stylesheet">

	  <link rel="shortcut icon" href="flat-ui/flat-ui/images/favicon.ico">

	  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="flat-ui/js/html5shiv.js"></script>
	      <script src="flat-ui/js/respond.min.js"></script>
	      <![endif]-->
</head>
    <body>
    	<div class = "landingContainer">
	    	<div id="fb-root"></div>
	      	<script>
		    	window.fbAsyncInit = function() {
			        FB.init({
			        appId      : '1452060145024625',
			        status     : true, // check login status
			        cookie     : true, // enable cookies to allow the server to access the session
			        xfbml      : true  // parse XFBML
	      			});
				};

				// Load the SDK asynchronously
				(function(d){
				   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
				   if (d.getElementById(id)) {return;}
				   js = d.createElement('script'); js.id = id; js.async = true;
				   js.src = "//connect.facebook.net/en_US/all.js";
				   ref.parentNode.insertBefore(js, ref);
				}(document));

				function executeLogin() {
					// Here we subscribe to the auth.authResponseChange JavaScript event, and specifically check if the
					// user is already logged in. In the case that the user has logged in and we still have the access
					// cookie, we redirect to the homepage.
				    FB.Event.subscribe('auth.authResponseChange', function(response) {
					    // Here we specify what we do with the response anytime this event occurs. 
					    if (response.status === 'connected') {
					      // In this case, we're handling the situation where they 
					      // have logged in to the app already.

					      console.log("running through top call");
					      //saveFriends();

					      window.location.replace("chat");
					    }
			  		});

				    // If the user has not logged in, provide the login prompt
					FB.login(function(response) {
						if (response.authResponse) {
	    					// the user has chosen to login via FB

	    					console.log("running through bottom call");
	    					//printFriends();

	   					 } else {
	   					 	// the user has cancelled the login
						}
					});

					function printFriends() {
						FB.api('/me', function(response) { console.log("Welcome, " + response.name + "! We are saving your friend information")});

						FB.api('/me/friends', 
                				function(response) {
                					if(response.data) {
                						
                						// functionality to iterate through the friends
                  						var num = 0;
                   						$.each(response.data,function(index,friend) {
                   							var fbID = new String(friend.id);
                   							var friend = new String(friend.name);

											console.log(friend + ', id:' + fbID);
                      						
                    					});

                   						// move to a new page
                    					window.location.replace("chat");
                  					} else {
                    					console.log("Error!");
                  					}
          				});
					}
				}

			</script>
				<div class = "loginBox">
					<div class = "title">
						<h1> Spanglish </h1>
						<h6> Learn with Friends </h6>
					</div>

					<hr>

					<button class="btn btn-inverse" type="button" onclick ="executeLogin()">Get Started!</button>

					
				</div>
		</div>
			

	    <!-- Load JS here for greater good =============================-->
	    <script src="flat-ui/js/jquery-1.8.3.min.js"></script>
	    <script src="flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
	    <script src="flat-ui/js/jquery.ui.touch-punch.min.js"></script>
	    <script src="flat-ui/js/bootstrap.min.js"></script>
	    <script src="flat-ui/js/bootstrap-select.js"></script>
	    <script src="flat-ui/js/bootstrap-switch.js"></script>
	    <script src="flat-ui/js/flatui-checkbox.js"></script>
	    <script src="flat-ui/js/flatui-radio.js"></script>
	    <script src="flat-ui/js/jquery.tagsinput.js"></script>
	    <script src="flat-ui/js/jquery.placeholder.js"></script>
	    <script src="flat-ui/js/jquery.stacktable.js"></script>
	    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
	    <script src="flat-ui/js/application.js"></script>
  </body>
  </html>