<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="tabbedSliders/css/styles.css" rel="stylesheet" type="text/css" />

<title>Spanglish</title>
</head>
<body>
  <h1> new message page </h1>
<script type="text/javascript" src="tabbedSliders/js/jquery-1.4.4.min.js"></script> 
<script type="text/javascript" src="tabbedSliders/js/easing.js"></script> 
<script type="text/javascript" src="tabbedSliders/js/common.js"></script>
</body>
</html>
