.friend img{
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right:10px;
}

.pic {
	width: 55px;
}

.bigger-pic {
	width: 125px;
}

#friends table, #chats table, .sender, .receiver {
	width: 100%
}

.convo-link{
	cursor: pointer;
}

.top-buttons .nav-pills {
	margin-top: 0px;
	margin-bottom: 0px;
}

.testing {
	padding: 2px;
}

.description {
	font-size: 14px;
	color: #6b6b6b;
}

.info {
	text-align: center;
}

.bottom {
	border-bottom: 1px solid #d3d3d3;
}

.convo-pic {
	width: 50px;
	height: 50px;
}

.back-button, .convo-header {
	padding-top: 10px;
}

.click-area {
	padding: 5px 10px 5px 10px;
	float: left;
	margin-bottom: 5px;
	margin-top: 0px;
}

.name{
	float: right;
	margin: 0px
}

.back-button a {
	margin-right: 5px
}

.from-date p {
	margin:0px;
	font-size: 8px;
	color: #6b6b6b;
}

.from-date h5 {
	font-size: 12px;
	margin:2px;

}


.message p {
	margin:0px;
}

.msg-text {
	font-size: 12px;
	clear: both;
}

.from-date, .convo-pic {
	float: left;
	margin: 5px;

}

.message {
	text-align: left;
}

.sender, .sender .from-date, .sender .convo-pic {
	text-align: right;
	float: right;
}

.receiver, .receiver .from-date, .receiver .convo-pic {
	text-align: left;
	float: left;
}

body { 
	padding-top: 70px; 
	padding-bottom: 70px; 
	background-image:url('../images/subtle_zebra_3d.png');
	background-repeat:repeat;
}

.navbar-default {
	background-color: #dedede;
	opacity:0.95;
}

.hidden {
	display: none;
}

.form-control:focus, .form-control:focus + span .btn{
    border-color:#1ABC9C;
}

.form-control:focus + span .btn {
	background-color: #1ABC9C;
}

#logout {
	text-align: center;
	margin: 20px;
}

.name {
	text-align: center
}

.form-group {
	margin-bottom: 0px;
}
